<canvas id="draw" width=256 height=256></canvas>
<canvas id="view" width=28 height=28></canvas>
<button id="judge">Judge</button>
<button id="clear">Clear</button>
<p id="result"></p>
<script src="judgeNumber.js"></script>
<script src="httpRequest.js"></script>
